@import "tailwindcss";
@import './styles/ui.css';


html,
body {
  width: 100%;
  height: 100%;
}

/* Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}