# ============================
# Node.js dependencies
# ============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



# ============================
# Uploads & temp OCR files
# ============================
uploads/
*.tmp
*.temp

# ============================
# Logs
# ============================
logs/
*.log

# ============================
# OS / Editor files
# ============================
.DS_Store
Thumbs.db

# ============================
# IDE / Editor configs
# ============================
.vscode/
.idea/
*.swp
*.swo

# ============================
# Coverage / tests
# ============================
coverage/

# ============================
# Build / cache
# ============================
dist/
build/
.cache/

# ============================
# Database dumps
# ============================
+
*.bson

# ============================
# Security
# ============================
*.key
*.pem
